.utensils {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
.fork, .knife, .spoon {
    padding: 5px;
    background-color: #c0c0c0;
    width: 30%;
    text-align: center;
    border-radius: 3px;
}